.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Inner {
  background-image: url("https://imgs.search.brave.com/ZSKlESTIdsK5O66wUVAdYgtZXTNemUmyXlnfyGYuQv8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9zb2NjZXItZm9v/dGJhbGwtc3RhZGl1/bS13aXRoLXNwb3Rs/aWdodHNfMTYzNzgy/LTM1NTAuanBnP3Np/emU9NjI2JmV4dD1q/cGc");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


